spring:
  application:
    name: up-leveling

  datasource:
    url: jdbc:postgresql://localhost:5432/seu_banco
    username: seu_usuario
    password: sua_senha
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          format_sql: true


  flyway:
    enabled: false             # ativa o Flyway
    baseline-on-migrate: true # cria baseline caso o banco já tenha dados
    locations: classpath:db/migration # pasta onde ficam suas migrations
    url: jdbc:postgresql://localhost:5432/seu_banco
    user: seu_usuario
    password: sua_senha